########################################################
#                                                      #
#                  TDengine Configuration              #
#   Any questions, please email support@taosdata.com   #
#                                                      #
########################################################

# first fully qualified domain name (FQDN) for TDengine system
firstEp                   {{ master_fqdn }}:{{ tdengine_port }}

# local fully qualified domain name (FQDN)
fqdn                      {{ fqdn }}

# first port number for the connection (12 continuous UDP/TCP port number are used)
serverPort                {{ tdengine_port }}

# log file's directory
logDir                    {{ tdengine_install_path }}/log

# data file's directory
{% if tdengine_data_dirs is defined %}
  {% for tdengine_data_dir in tdengine_data_dirs.split(',') %}
    dataDir  {{ tdengine_data_dir }}
  {% endfor %}
{% else %}
  dataDir  {{ tdengine_install_path }}/data
{% endif %}


# temporary file's directory
tempDir                   {{ tdengine_install_path }}/tmp

keepColumnName            1

logKeepDays           30

monitor                  1
monitorInterval          30
monitorFqdn              {{ fqdn }}
monitorPort              6043
monitorMaxLogs           100
