{{ ansible_managed | comment }}

# edgevpn local/remote volumes.
{% if edgevpn_server_cluster_nodes | length > 0 %}
edgevpn_VOLUMES="{{ edgevpn_server_cluster_nodes | join(' ') }}"
{% else %}
edgevpn_VOLUMES="{{ edgevpn_server_datadirs | join(' ') }}"
{% endif %}

# edgevpn cli options.
{% if edgevpn_enable_tls %}
edgevpn_OPTS="--address {{ edgevpn_server_address }}:{{ edgevpn_server_port }} --console-address {{ edgevpn_server_address }}:{{ edgevpn_console_port }} --certs-dir {{ edgevpn_cert_dir }} {{ edgevpn_server_opts }}"
{% else %}
edgevpn_OPTS="--address {{ edgevpn_server_address }}:{{ edgevpn_server_port }} --console-address {{ edgevpn_server_address }}:{{ edgevpn_console_port }} {{ edgevpn_server_opts }}"
{% endif %}


{% if edgevpn_root_user %}
# Access Key of the server.
edgevpn_ROOT_USER="{{ edgevpn_root_user }}"
{% endif %}
{% if edgevpn_root_password %}
# Secret key of the server.
edgevpn_ROOT_PASSWORD="{{ edgevpn_root_password }}"
{% endif %}

{% if edgevpn_site_region %}
# edgevpn server region
edgevpn_SITE_REGION="{{ edgevpn_site_region }}"
{% endif %}

{{ edgevpn_server_env_extra }}
