enableControllerInNamesrv = true
controllerDLegerGroup = {{ controllerDLegerGroupName }}
controllerDLegerPeers = {{ controllerDLegerPeers }}
controllerDLegerSelfId = {{ controllerDLegerSelfId }}
controllerStorePath = /opt/rocketmq/DledgerController
enableElectUncleanMaster = false
notifyBrokerRoleChanged = true